* {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    margin: 0px 166px;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}
.cart {
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 20px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #a35413;
}

.header-bottom {
    position: relative;
}
.header-title {
    font-family: 'Tinos', serif;
    color: #D67E35;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 150px;
    margin-bottom: 12px;
}

.suptitle {
    color: #FFF;
    font-family: 'Open Sans', serif;
    font-size: 18px;
    font-weight: 400;
}

.suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 56px;
}

.suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 308px;
}

.header-button {
    background-color: #FF7400;
    padding: 14px 28px;
    color: #FFF;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.header-button:hover {
    background-color: #803b03;
}


.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    width: 349px;
    background: #FFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
    margin-right: 31px;
    margin-top: -60px;
    padding: 10px 10px;
}
.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #2C2C2C;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}
.card-title span {
    color: #BC9060;
    padding-left: 10px;
}

.card-desc {
    text-align: center;
    color: #656363;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}

.history{
    margin-top: 166px;
}

.history-title{
    color: #000;
    width: 444px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 21px;
}
.history-title span {
    color: #D67E34;
}

.history-desc{
    color: #656363;
    width: 444px;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 39px;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    
}

.number-item {
    margin-right: 60px;
    color: #BC9060;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 40px;
    font-weight: 400;
}

.number-item span{
    display: block;
    color: #000;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 400;
}

.history-holder {
    display: flex;
}

.history-images {
    position: relative;
}

.images-1 {
    position: absolute;
    z-index: 997;
    top: 54px;
    left: 50px;
}
.images-2 {
    position: absolute;
    z-index: 997;
    top: 2px;
    left: 283px;
}
.images-3 {
    position: absolute;
    z-index: 998;
    top: 170px;
    left: 386px;
}