* {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(/images/hero\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    margin: 0px 166px;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}
.cart {
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 20px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #a35413;
}