* {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    margin: 0px 166px;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}
.cart {
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 20px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #a35413;
}

.header-bottom {
    position: relative;
}
.header-title {
    font-family: 'Tinos', serif;
    color: #D67E35;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 150px;
    margin-bottom: 12px;
}

.suptitle {
    color: #FFF;
    font-family: 'Open Sans', serif;
    font-size: 18px;
    font-weight: 400;
}

.suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 56px;
}

.suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 308px;
}

.header-button {
    background-color: #FF7400;
    padding: 14px 28px;
    color: #FFF;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    transition: background-color 0.3s linear;
}

.header-button:hover {
    background-color: #803b03;
}


.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    width: 349px;
    background: #FFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
    margin-right: 31px;
    margin-top: -60px;
    padding: 10px 10px;
}
.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #2C2C2C;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}
.card-title span {
    color: #BC9060;
    padding-left: 10px;
}

.card-desc {
    text-align: center;
    color: #656363;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
}

.history{
    margin-top: 166px;
    margin-bottom: 130px;
}

.history-title{
    color: #000;
    width: 444px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    margin-bottom: 21px;
}
.history-title span {
    color: #D67E34;
}

.history-desc{
    color: #656363;
    width: 444px;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 39px;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    
}

.number-item {
    margin-right: 60px;
    color: #BC9060;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 40px;
    font-weight: 400;
}

.number-item span{
    display: block;
    color: #000;
    text-align: center;
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 400;
}

.history-holder {
    display: flex;
}

.history-images {
    position: relative;
}

.images-1 {
    position: absolute;
    z-index: 997;
    top: 54px;
    left: 50px;
}
.images-2 {
    position: absolute;
    z-index: 997;
    top: 2px;
    left: 283px;
}
.images-3 {
    position: absolute;
    z-index: 998;
    top: 170px;
    left: 386px;
}

/* BLACK-BLOCK */
.black-block {
    background: url(../images/black-storybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
    margin-bottom: 130px;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-title {
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 52px;
    font-weight: 400;
    margin-bottom: 20px;
}
.left-text {
    color: #FFF;
    font-family: 'Tinos', serif;
    font-size: 24px;
    font-weight: 700;
}

.right-btn {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}
.right-btn:hover {
    background-color: #a35413;
}

/* DISHES */
.dishes-title {
    font-family: 'Tinos', serif;
    color: #000;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 139px;
}
.dishes-title span {
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
}

.burgers-image {
    margin-right: 20px;
}

.burgers {
    display: flex;
    justify-content: center;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.burger-text {
    color: #000;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    margin-left: 20px;
}

/* MENU */
.menu {
    background-image: url(../images/Menu-bgjpg.jpg);
    padding-bottom: 100px;
}

.menu-title {
    color: #FFF;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 138px;
}

.menu-items {
    display: flex;
    justify-content: center;
}
.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu-text {
    color: #000;
    font-family: 'Tinos', serif;
    font-size: 26px;
    font-weight: 400;
    padding-top: 10px;
    
}
.menu-subtext {
    color: #000;
    text-align: center;
    font-family: 'Tinos', serif;
    font-size: 16px;
    font-weight: 400;
}

.menu-button {
    margin-top: 20px;
}
.menu-btn {
    background-color: #D67E34;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Open 'Sans', serif;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 67px;
}

.menu-image {
    position: relative;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 32px;
}

.price-420 {
    position: absolute;
    bottom: 35px;
    right: 60px;
    color: #FFF;
    font-family: 'Cookie';
    font-size: 30px;
    font-weight: 400;
}

/* COMMENT */
.comment {
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
    margin-bottom: 101px;
}

.comment-text {
    color: #000;
    text-align: center;
    font-family: Open 'Sans', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
}

.comment-image {
    text-align: center;
}
.comment-img {
    border-radius: 50px;
}
.comment-type {
    text-align: center;
    color: #000;
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 600;
}
.comment-name {
    text-align: center;
    color: #000;
    font-family: 'Open Sans', serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}

/* GALERY */
.galery-content {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.galery-left {
    margin-right: 20px;
}

.galery-title {
    color: #000;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}
.galery-title span {
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
}

.galery-down,
.galery-up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* COOKS */
.cook-title {
    color: #000;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
}
.cook-title span {
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
}

.cook-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.cook-img {
    margin-right: 30px;
}

/* FOOTER */
.footer {
    background-image: url(../images/footer-bg.jpg);
    width: 100%;
    height: 500px;
    margin: 0 auto; 
}

.footer-text {
    color: #fff;
    text-align: center;
    padding-top: 100px;   
}

/* BURGER MEMU IS HIDDEN */
.burger-menu {
    display: none;
}

/* MOBILE ADAPTATION */
@media (max-width: 1300px) {

    .galery-content {
        display: block;
    }

    .img-gal,
    .galery-up,
    .galery-down {
        display: block;
        margin: 0 auto;
    }

    .img-gal {
        margin-bottom: 20px;
    }

    .menu-items {
        display: block;
    }

    .menu-item {
        margin: 20px auto;
        width: 600px;
    }

    .header-title {
        position: static;
    }
    .suptitle:before,
    .suptitle:after {
        content: none;
    }

    .cook-content {
        display: block;
        }
    .cook-content img {
        display: block;
        margin: 20px auto;
        }

    .block-holder {
        display: block;
        }

    .left-title,
    .left-text,
    .right-button {
        text-align: center;
    }

    .history-images {
        display: none;
    }

    .history-title,
    .history-desc,
    .history-number {
        width: auto;
    }
}

@media (max-width: 1185px) {
    .burger-menu {
        display: block;
    }

    .nav,
    .cart,
    .phone,
    .btn {
        display: none;
    }
    .header-line {
        justify-content: space-between;
    }

    .burgers-image {
        display: none;
    }
}

@media (max-width: 1100px) {
    .cards-holder {
        display: block;
    }

    .card {
        width: 100%;
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    .history-holder {
        display: block;
    }

    .menu-item {
        width: auto;
    }

    .high {
        display: none;
    }

    .container {
        margin: auto 40px;
    }

    .number-item {
        font-size: 23px;
    }
}



